 <style type="text/css">





/*Simple CSS reset for items we will use JUST for this example. 
Please use full reset when designing! 
Reseting the margin and padding is important for the body tag so the 
header and footer will hug the whole screen.*/



h1, p, body, html {
	margin:0;
	font:12px "Open Sans", sans-serif;
width:100%;

	padding:0;}

/*Just visual styles*/
body {

	font:14px "Open Sans", sans-serif;
	color:#000;
	}

/*Our full length header. 
We align the text center so it shows up in the middle. 
If you prefer you could right or left align it.*/	
.header {
	text-align:right;
	padding-bottom:40px;
z-index:100;
width:96.7%;
height:10px;
position:absolute;

background: #45484d; /* Old browsers */

background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #45484d 0%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
background:url('dirty_old_shirt.png'), #111;	
}
	

/*Center Content*/	
#container {
	position:relative;
	margin:0 auto;
	width:100%;


	}

#bar{

background:#fff;

}

/*Full width footer*/	
#footer {
 

	font:12px "Open Sans", sans-serif;
	padding:10px;
background: #000; /* Old browsers */
	
	}

/*These are just styles used for the example for the content.*/	
.left {

	float:left;
	width:57.8%;
        margin-top:-15px;
        margin-right:-12%;
        margin-left:-5.2%;



	}
	

.right {
	float:left;
	width:24.36%;
	clear:right;

	}
	
.left p, .right p {
	padding:10px;
	}

.description { /*--Style the caption box--*/
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    background-color:black;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-size:16px;
    color:white;
    opacity:0.6; /* transparency */
    filter:alpha(opacity=60); /* IE transparency */
padding:10px;
}	
/*If you are going to use floats then you will NEED to clear the 
footer so it doesn't bunch the content up*/
.clear {clear:both;
height: 120px;}

.topheader{
color:#fff;
text-align:left;
font-size:24px;
font-weight:bold;
font-family: Open Sans, sans-serif;
margin-top:-5px;
}

.topheaderfont{
color:#f5f5f5;text-align:right;font-size:12px;font-weight:normal;font-family: Open Sans, sans-serif;margin-left:34%;position:absolute;margin-top:10px;white-space:nowrap;

}

.formstyle{

width:100%;
}

.rightdiv{
float:left;
	width:30.36%;
	clear:right;

padding:10px;margin-top:15px;font-family:Open Sans, sans-serif;
}

.formText{

padding-left:25px;
padding-bottom:15px;
}

.input-text{

background:#f5f5f5;border-style:solid;border-width:1px;border-color:#eee;padding:2px;height:20px;font-size:12px;width:70%;color:#000;
}

.Search-font{
font-family:Open Sans, sans-serif;font-weight:bold;

}

.Search-Button{

background:#f5f5f5;border-style:solid;border-width:1px;border-color:#ddd;color:#000;font-family:Open Sans, sans-serif;width:50px;height:25px;font-size:12px;margin-top: -14px;margin-left:5px;
}

.bottom-bar{

margin-left:5px;background:url('dirty_old_shirt.png'), #000;color:white;padding:22px;white-space:nowrap;float:left;position:relative;width:95%;
}

.results{
margin-top:2px;background:url('dirty_old_shirt.png'), #111;color:#fff;	height:339px;padding:15px;
}

.boxes{

margin-left:6%;margin-top:25px;background:url('dirty_old_shirt.png'), #000;color:white;padding:22px;white-space:nowrap;float:left;position:relative;width:85%;
}

.box1{
margin-left:6%;background:url('clean_textile.png'),#fff;color:#000;padding:22px;white-space:nowrap;float:left;position:relative;width:85%;
}

.box2{

margin-left:6%;background:url('first_aid_kit.png'),#f0f0f0;color:#000;padding:22px;white-space:nowrap;float:left;position:relative;width:85%;border-top:0px;;
}

.bottom-p{
color:#fff;

}

input[type=submit]:hover{                   
			
			font-size: bold 11px "Trebuchet MS";
                        color: #111;
                        letter-spacing: 2px
                        text-shadow: 1px 1px 1px #fff;
                        cursor: pointer;
			background:#eee;
                      
}

input[type=text]:focus{

		
                        text-shadow: 1px 1px 1px #eee;
			background:#fff;
			color:#111;
           
                    
}

input[type=checkbox]:check:after{

		
			background:#ded;
           
                    
}

a.one2:active{	color: #fff;
           }
a.one2:visited{
	color: #fff;}
a.one:link{
	color: #fff;}



a.one2
{
text-decoration:none;
color:#fff;

}
a.one2:hover{
color: #fff;
text-decoration:underline;

       }

.banner{
margin-right:48%;
margin-top:30px;
color:#000;
height:400px;
text-align:center;

}



		.black_overlay{
			display: none;
			position: absolute;
			top: 0%;
			left: 0%;
			width: 150%;
			height: 4000%;
			background-color: black;
			z-index:1001;
			-moz-opacity: 0.8;
			opacity:.80;
			filter: alpha(opacity=80);
                       
		}
		.white_content {
			display: none;
			position: fixed;
			top: 25%;
			left: 30%;
			width: 450px;
			height: 250px;


			background-color: white;
			z-index:1002;
			overflow: auto;
		}
	a.one:active{	color: #fff;
           
        background-color:#fff;}
a.one:visited{
	color: #fff;}
a.one:link{
	color: #fff;}



a.one
{
text-decoration:none;

}
a.one:hover{
color: #000;
background-color:#fff;
box-shadow: #fff 0 0 10px;
-moz-border-radius:2px; 
-webkit-border-radius:2px; 
-moz-box-shadow: #fff 0 0 10px;

       }

    </style>
